main {
    max-width: 600px;
}

hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}


#title {
    display: flex;
}

.upper {
    display: flex;
    align-items: center;
}

#price {
    margin-right: 22.5rem;
}

#score {
    margin-right: 5rem;
    color: #5F5F5F;
}

#comment-count {
    color: #5F5F5F;
}

#description {
    text-align: left;
    color: #5F5F5F;
}

#selection-section {
    display: flex;
    gap: 12rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#size div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#size div label {
    color: #5F5F5F;
    margin-bottom: 1rem;
}

#dough h3 {
    text-align: left;
}

select {
    font-size: 1rem;
    font-weight: bold;
    padding: 2px;
}

#extra h3, #extra p {
    text-align: left;
}

#extra p {
    margin-bottom: 5rem;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 20%;
    font-size: 14px;
    text-align: left;
    color: #5F5F5F;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container input:checked ~ .checkmark {
    background-color: rgb(41, 91, 255);
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#bottom {
    display: flex;
}

#counter {
    width: 30%;
}

#note {
    text-align: left;
    margin-top: 5rem;
}

#note input {
    width: 100%;
    padding: 18px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #5F5F5F;
}

.btn {
    height: 24px;
    width: 24px;
    padding: 10px, 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FDC913;
  }

#counter-value {
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
}

#buyout {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#buyout h3 {
    font-weight: bold;
}